pandas
tqdm
regex 
transformers 
datasets 
sentencepiece
torch
sacremoses
nltk
sentence_transformers
faiss-cpu
langdetect
protobuf
langchain 
langchain-community 
sentence-transformers 
faiss-cpu 
llama-cpp-python